# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Extracted ZIP/archive files
*.zip

# Local environment variables
.env

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# Colab temporary files
/content/